{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="login">
        <div class="container my-5">

            <h1 class="text-center mb-5">LOG IN</h1>

            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">

                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control mb-2 col-12"
                                   placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control mb-2 col-12"
                                   placeholder="Password"
                                   required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>

                            <button class="btn btn-dark" type="submit">
                                Sign in
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
