.login .card{
    padding: 20px 10px 20px 10px;
    width: 20rem;
    max-width: 100%;
    border: unset;
    border-radius: unset;
    box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);
}

.login .card-header {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-family: Meera, sans-serif;
    font-weight: unset;
    border: unset;
    border-radius: unset;
    background-color: #344859;
    color: white;
}
